{# Comment at the beggining #}
<article>
    <h1>{{ title }}</h1>
    <section>
        <h2>We're writing shit!</h2>
        <div>
            <p>Example of square:</p>
           <div style="background: aqua; width: 20px; height:20px;"></div>
        </div>
    </section>
</article>
